<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.srinivas.apps.sr500pxapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".Zen3TaskApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_zen3_500px_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.ui.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".photos.PhotosSearchActivity"
            android:label="@string/label_search_photos">
        </activity>
        <activity
            android:name=".photos.PhotosGridActivity"
            android:icon="@drawable/ic_keyboard_arrow_left_white"
            android:label="Photos">
        </activity>
    </application>

</manifest>